* {
    margin: 0;
    padding: 0;
}

/* Swiper CSS */
.swipe-con{
    position: relative;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '';
}
.swipe-btn-right{
    background: #3c3c3c;
    height: 30px;
    width: 30px;
    /* line-height: 21px; */
    border-radius: 5px;
    text-align: center!important;
    margin: auto;
    position: absolute;
    right: 2%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.swipe-btn-left{
    background: #3c3c3c;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    text-align: center!important;
    margin: auto;
    position: absolute;
    left: 2%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.swipe-btn i{
    color: #fff;
    font-size: 18px;
}

/* Top-Contact ROW */
.top-contact{
    padding: 5px 0px;
    margin: 0;
    background: #fff9f0;
    border-bottom: 1px solid #ed662232;
}
.top-contact .contact-list, .top-contact .contact-list li{
    margin: 0;
}

.top-contact .contact-list li span{
    font-size: 16px;
}


/* Banner Start */
.banner {
    background: rgb(29, 29, 29);
    min-height: 30vh;
    align-items: center;
    background-image: url("../imgages/pexels-freestocksorg-749353.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(29, 29, 29);
    background-blend-mode: overlay;
    color: white;
}

.banner-con {
    min-height: 70vh;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.banner-con .col-md-12{
    padding: 0;
}

.banner-con h1{
    font-size: 38px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

.banner-con p{
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.banner-con .offer{
    font-size: 24px;
}

/* About Us */
.about-us{
    padding: 80px 0px;
}
.img-con{
    background-image: url("../imgages/pexels-andrea-piacquadio-972887.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 6px 0px #0808080a;
    padding-left: 0;
    min-height: 498px;
    justify-content: left!important;
}

.bold{
    font-weight: 700;
}

.default-color{
    color: #f1592a;
}

.a-title{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    color: rgb(34, 34, 34);
    margin-bottom: 15px;
    text-align: left;
}

.a-title::before{
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 2.5px;
    width: 75%;
    background-color: rgb(31, 31, 31);
    content: "";
    border-radius: 10px;
}

.a-title::after{
    position: absolute;
    bottom: 0%;
    left: 50%;
    height: 10px;
    width: 10%;
    background-color: #f1592a;
    content: "";
    border-radius: 10px;
    transform: translate(0%,35%);
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-name: bar-animate-2;
}

.text-para{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    color: rgb(34, 34, 34);
    margin-bottom: 15px;
    text-align: left;
}

.btn-custom {
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 0px 2px #000;
    color: #000;
    border-radius: 35px;
    padding: 8px 35px;
    font-family: 'SourceSansPro Bold',sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: none!important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn-custom::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    background: #ff7b54;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-in-out;
    border: none!important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: white!important;
    box-shadow: 0px 0px 6px 2px #ff7b54;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}  

@keyframes bar-animate-2{
	0%{
        left: 30%;
    }
    25%{
        left: 10%;
    }
    50%{
        left: 30%;
    }
    75%{
        left: 50%;
    }
    100%{
        left: 30%;
    }
}

@keyframes bar-animate{
	0%{
        left: 50%;
    }
    25%{
        left: 70%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 20%;
    }
    100%{
        left: 50%;
    }
}

/* Our Membership Card */
.services{
    padding-bottom: 50px;
}
.services .text-para{
    text-align: center;
    margin: 0;
}
.icon-bx-wraper.style-1 {
    transition: all 0.5s;
    border-radius: 10px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    background-color: #fff;
}
.service-box {
    padding: 0px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0px 3px 1px rgb(31 66 135 / 5%);
}
.service-box .content{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.services .a-title{
    text-align: center;
}

.services .a-title::before{
    left: 15%;
    width: 70%;
}

.services .a-title::after{
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-name: bar-animate;
}

.icon-bx-wraper.style-1:hover {
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}

.cont .card{
    border: none;
}

.gold::before{
    background-image: url(../imgages/pattern_1.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.gold:after {
    background-image: url(../imgages/pattern_2.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}

.diamond::before{
    background-image: url(../imgages/pattern_1_d.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.diamond:after {
    background-image: url(../imgages/pattern_2_d.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}
.platinum::before{
    background-image: url(../imgages/pattern_1_p.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.platinum:after {
    background-image: url(../imgages/pattern_2_p.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}

.cont .card {
    transition: all 0.5s;
    border-radius: 15px;
    background-color: #fff;
}

.cont .card:hover {
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}
.cont .gold:before,
.cont .gold:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .gold:hover:before,
.cont .gold:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .diamond:before,
.cont .diamond:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .diamond:hover:before,
.cont .diamond:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .platinum::before,
.cont .platinum:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .platinum:hover:before,
.cont .platinum:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .card .face1 .face2{
    padding: 0 15px 15px 15px;
}

.service-title{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 10px 0px;
    margin: 0;
}

.cont:nth-child(1) .card:hover .service-title{
    color: #ffc850;
}
.cont:nth-child(2) .card:hover .service-title{
    color: #006981;
}
.cont:nth-child(3) .card:hover .service-title{
    color: rgb(82, 82, 82);
}

.cont .card .face1 .content .btn-sec{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    width: 100%;
    height: 400px;
    transform: translate(25%,23%);
    transition: 0.3s all ease-in-out;
    z-index: 9999;
}

.cont .card:hover .face1 .content .btn-sec{
    display: inline-block;
}
.cont .card .face1 .content{
    position: relative;
}

.cont .card .face1 .content .overlay-g::before{
    background: #755822;
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card .face1 .content .overlay-d::before{
    background: #006981!important;
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card .face1 .content .overlay-p::before{
    background: rgb(82, 82, 82);
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card:hover .face1 .content .overlay::before{
    transform: scale(1);
}

.btn-card-g {
    background: #ffc850;
    box-shadow: 0px 0px 0px 2px #ffc850;
}
.btn-card-d {
    background: #00a9cf;
    box-shadow: 0px 0px 0px 2px #00a9cf;
}
.btn-card-p {
    background: rgb(129, 129, 129);
    box-shadow: 0px 0px 0px 2px rgb(129,129,129);
}

.btn-card-g:hover {
    box-shadow: 0px 0px 10px 2px #ffc850;
}
.btn-card-d:hover {
    box-shadow: 0px 0px 10px 2px #00a9cf;
}
.btn-card-p:hover {
    box-shadow: 0px 0px 10px 2px rgb(129,129,129);
}

.btn-card {
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 35px;
    padding: 8px 35px;
    font-family: 'SourceSansPro Bold',sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    border: none!important;
    transition: 0.3s all ease-in-out;
}


/* Our Field */
.our-field{
    padding: 50px 0px;
    background-image: url("../imgages/pexels-negative-space-34577.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(29, 29, 29);
    background-blend-mode: overlay;
    color: white;
}

.our-field .a-title{
    color: white;
    margin: 0;
    text-align: center;
}
.our-field .a-title::before{
    display: none;
}
.our-field .a-title::after{
    display: none;
}

.our-field .text-para{
    text-align: center;
    margin: 0;
    margin-top: 15px;
    color: white;
}

.icon-holder {
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 70px;
    margin: auto;
    z-index: 999;
}
.red{
    background: #f44026;
}
.yellow{
    background: #fec422;
}
.orange{
    background: #ed6622;
}
.blue{
    background: #2491fe;
}

.icon-bg{
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
}


.counter {
    margin-top: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
}
.title{
    margin: 0;
    font-family: 'Poppins',sans-serif;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
}
.expert-border{
    position: relative;
}

.expert-border::after{
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    width: 75px;
    height: 2px;
    content: "";
    transform: translate(-120%,0%);
}

.expert-border::before{
    position: absolute;
    top: 50%;
    left: 0;
    background: white;
    width: 75px;
    height: 2px;
    content: "";
    transform: translate(40%,0%);
}

/* FOOTER */
footer{
    padding: 70px 0px;
    background-color: #ed662247;
    padding-bottom: 25px;
}
footer .title{
    color: #212529;
    font-size: 18px;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
}
.contact{
    padding-top: 15px;
}
.contact-list li{
    align-items: center;
    margin-bottom: 10px;
}
.contact-list li i{
    font-size: 18px;
    margin-right: 8px;
}

.contact-list li span{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins",sans-serif;
}
footer .usefull-links h4{
    font-size: 28px;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    color: #212529;
    text-transform: capitalize;
}
footer .usefull-links li a i{
    color: #212529;
    font-size: 18px;
    margin-right: 5px;
}
footer .usefull-links li a{
    color: #212529;
    font-size: 18px;
    text-decoration: none;
}
footer .usefull-links li a:hover{
    color: #ed6622;
    font-weight: 700;
}

footer .usefull-links li a:hover i{
    color: #ed6622;
    font-weight: 700;
}

footer h4{
    font-size: 28px;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    color: #212529;
    text-transform: capitalize;
    margin: 0;
}
footer .newsletter .pdr{
    padding-right: 0!important;
}
footer .newsletter .pdl{
    padding-left: 0!important;
}
footer .newsletter .btn-custom{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

footer .newsletter input[type='email']{
    width: fit-content;
}

footer .newsletter .btn-custom::before{
    border-radius: 5px;
}

footer .join-us h4{
    margin-top: 15px;
}

footer .join-us .social-link li{
    margin-right: 10px;
}
footer .join-us .social-link li a{
    border: none;
    text-decoration: none;
}
footer .join-us .social-link li a i{
    font-size: 38px;
    border: none;
    box-shadow: 0 0 0 0;
    color: #212529;
}

footer .join-us .social-link li:nth-child(1) a:hover i{
    color: #0066cc;
}
footer .join-us .social-link li:nth-child(2) a:hover i{
    color: #f44026;
}
footer .join-us .social-link li:nth-child(3) a:hover i{
    color: #2491fe;
}

.btm-footer{
    padding: 15px 0px; 
    background: #ed6622e3;
}
.btm-footer p{
    margin: 0;
    font-size: 18px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.btm-footer a{
    border: none;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.btm-footer a:hover{
    color: #181818;
}