* {
    margin: 0;
    padding: 0;
}

/* Swiper CSS */
.swipe-con{
    position: relative;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: '';
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: '';
}
.swipe-btn-right{
    background: #3c3c3c;
    height: 30px;
    width: 30px;
    /* line-height: 21px; */
    border-radius: 5px;
    text-align: center!important;
    margin: auto;
    position: absolute;
    right: 2%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.swipe-btn-left{
    background: #3c3c3c;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    text-align: center!important;
    margin: auto;
    position: absolute;
    left: 2%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.swipe-btn i{
    color: #fff;
    font-size: 18px;
}


/* Banner Start */
.banner {
    background: rgb(29, 29, 29);
    min-height: 30vh;
    align-items: center;
    background-image: url("../imgages/pexels-freestocksorg-749353.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(29, 29, 29);
    background-blend-mode: overlay;
    color: white;
}

.banner-con {
    min-height: 70vh;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.banner-con .col-md-12{
    padding: 0;
}

/* About Us */
.about-us{
    padding: 80px 0px;
}
.img-con{
    background-image: url("../imgages/pexels-andrea-piacquadio-972887.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 6px 0px #0808080a;
    padding-left: 0;
    min-height: 498px;
    justify-content: left!important;
}

.bold{
    font-weight: 700;
}

.default-color{
    color: #f1592a;
}

.a-title{
    font-family: "Roboto Condensed",sans-serif;
    font-size: 38px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    color: rgb(34, 34, 34);
    margin-bottom: 15px;
    text-align: center;
}

.a-title::before{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5px;
    width: 100%;
    background-color: rgb(31, 31, 31);
    content: "";
    border-radius: 10px;
}

.a-title::after{
    position: absolute;
    bottom: 0%;
    left: 50%;
    height: 10px;
    width: 10%;
    background-color: #f1592a;
    content: "";
    border-radius: 10px;
    transform: translate(0%,35%);
    animation: bar-animate infinite ease-in-out;
    -webkit-animation: bar-animate 10s infinite;
    -webkit-transform: translate(0%,35%);
    -moz-transform: translate(0%,35%);
    -ms-transform: translate(0%,35%);
    -o-transform: translate(0%,35%);
}

.text-para{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    color: rgb(34, 34, 34);
    margin-bottom: 15px;
    text-align: left;
}

.btn-custom {
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 0px 2px #000;
    color: #000;
    border-radius: 35px;
    padding: 8px 35px;
    font-family: 'SourceSansPro Bold',sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border: none!important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn-custom::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 35px;
    background: #ff7b54;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-in-out;
    border: none!important;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active {
    color: white!important;
    box-shadow: 0px 0px 6px 2px #ff7b54;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn-custom:hover:before, .btn-custom:focus:before, .btn-custom:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
}  

@keyframes bar-animate{
	0%{
        left: 50%;
    }
    25%{
        left: 70%;
    }
    50%{
        left: 50%;
    }
    75%{
        left: 30%;
    }
    100%{
        left: 50%;
    }
}

/* Our Membership Card */
.services{
    padding-bottom: 50px;
}
.services .text-para{
    text-align: center;
    margin: 0;
}
.icon-bx-wraper.style-1 {
    transition: all 0.5s;
    border-radius: 10px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    background-color: #fff;
}
.service-box {
    padding: 0px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 0px 3px 1px rgb(31 66 135 / 5%);
}
.service-box .content{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.icon-bx-wraper.style-1:hover {
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}

.cont .card{
    border: none;
}

.gold::before{
    background-image: url(../imgages/pattern_1.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.gold:after {
    background-image: url(../imgages/pattern_2.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}

.diamond::before{
    background-image: url(../imgages/pattern_1_d.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.diamond:after {
    background-image: url(../imgages/pattern_2_d.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}
.platinum::before{
    background-image: url(../imgages/pattern_1_p.png);
    height: 100%;
    top: -30px;
    left: -30px;
    width: 100%;
    z-index: 999;
}
.platinum:after {
    background-image: url(../imgages/pattern_2_p.png);
    height: 290px;
    bottom: -40px;
    right: -30px;
    width: 250px;
    z-index: 999;
}

.cont .card {
    transition: all 0.5s;
    border-radius: 15px;
    background-color: #fff;
}

.cont .card:hover {
    box-shadow: 0 0px 10px 4px rgb(31 66 135 / 10%);
}
.cont .gold:before,
.cont .gold:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .gold:hover:before,
.cont .gold:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .diamond:before,
.cont .diamond:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .diamond:hover:before,
.cont .diamond:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .platinum::before,
.cont .platinum:after {
	content: "";
	position: absolute;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s;
	transform: scale(0.5);
	z-index: 0;
}
.cont .platinum:hover:before,
.cont .platinum:hover:after {
	opacity: 1;
	transform: scale(1);
}

.cont .card .face1 .face2{
    padding: 0 15px 15px 15px;
}

.service-title{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    padding: 10px 0px;
    margin: 0;
}

.cont:nth-child(1) .card:hover .service-title{
    color: #ffc850;
}
.cont:nth-child(2) .card:hover .service-title{
    color: #006981;
}
.cont:nth-child(3) .card:hover .service-title{
    color: rgb(82, 82, 82);
}

.cont .card .face1 .content .btn-sec{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    width: 100%;
    height: 400px;
    transform: translate(25%,23%);
    transition: 0.3s all ease-in-out;
    z-index: 9999;
}

.cont .card:hover .face1 .content .btn-sec{
    display: inline-block;
}
.cont .card .face1 .content{
    position: relative;
}

.cont .card .face1 .content .overlay-g::before{
    background: #755822;
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card .face1 .content .overlay-d::before{
    background: #006981!important;
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card .face1 .content .overlay-p::before{
    background: rgb(82, 82, 82);
    z-index: 999;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.3s all ease-in-out;
}
.cont .card:hover .face1 .content .overlay::before{
    transform: scale(1);
}

.btn-card-g {
    background: #ffc850;
    box-shadow: 0px 0px 0px 2px #ffc850;
}
.btn-card-d {
    background: #00a9cf;
    box-shadow: 0px 0px 0px 2px #00a9cf;
}
.btn-card-p {
    background: rgb(129, 129, 129);
    box-shadow: 0px 0px 0px 2px rgb(129,129,129);
}

.btn-card-g:hover {
    box-shadow: 0px 0px 10px 2px #ffc850;
}
.btn-card-d:hover {
    box-shadow: 0px 0px 10px 2px #00a9cf;
}
.btn-card-p:hover {
    box-shadow: 0px 0px 10px 2px rgb(129,129,129);
}

.btn-card {
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 35px;
    padding: 8px 35px;
    font-family: 'SourceSansPro Bold',sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    border: none!important;
    transition: 0.3s all ease-in-out;
}